
PORT=""
DATABASE_URL="""
NODE_ENV=""
JWT_SECRET=""
JWT_REFRESH_SECRET=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
# link =https://claude.ai/chat/2f8c1ed4-b976-468f-b8fa-8e4bf934f5f

